* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* body {
    font-family: ;
    background: ;
    color: ;
} */


/* ========== header ========== */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 30px 10px 20px 10px;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-item {
    list-style: none;
    padding: 10px;
}
.nav-link {
    color: gray; /* change this */
    /* font-size: ; */
    transition: all 1s ease-in-out;
}
.nav-link:hover {
    cursor: pointer;
    color: #000; /* change this */
}
.nav-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000; /* change this */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.nav-info-icon {
    color: pink; /* change this */
    cursor: pointer;
    margin-right: 5px;
}
.nav-info-icon:hover .cart-icon {
    color: #fff; /* change this */
}

.nav-info:hover{
    background-color: red; /* change this */
    border-color: red; /* change this */
    color: #fff; /* change this */
}

.hero {
    height: 80vh;
    background-color: lightpink;  /* placeholder */
    /* background: url() no-repeat center/center cover;
    background-attachment: fixed;  optional
    */
    position: relative;
    text-align: center;
    padding: 50px 0;
}

.hero-text {
    color: #fff;  /* change this */
    font-weight: 400;
    /* font-size: ; */
}

/* ========== cart ========== */

.cart {
    position: absolute;
    background-color: #fff;
    top: 0; /*fix this */
    right: 0; /* change this to negative */
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    width: 40vw;
    padding: 10px;
}
/* .show-cart {
    transform: right 0; /* check how to write */
/* }  */

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.cart-item-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cart-item-remove {
    /* color: ; */
    transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
    transform: scale(1.2);
    /* color: ; */
}
.cart-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* change this */
    align-items: center;
}

/* .cart-item-price {
    font-size: ;
} */

.cart-buttons-container {
    margin: 10px;
}
.clear-btn {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    color: #000;  /* change this */
    /* btn bg-color + transition */
}

.checkout-btn {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: #000;  /* change this */
    /* btn bg-color + transition */
}



/* ========== gallery ========== */
input {
    background: none;
    padding: 10px 16px;
    border: none;
    border-bottom: 1px solid #808080;
    color: #f2f2f2;
  }
  
  textarea:focus, input:focus {
    outline: none;
  }
  
  body {
    font-family: "Rubik", sans-serif;
  }
  @media screen and (min-width: 780px) {
    body {
      font-size: 18px;
    }
  }
  
  h1, h2, h3, h4, h5 {
    font-weight: normal;
    color: #333333;
    margin: 2px;
  }
  
  p, a, li {
    font-weight: lighter;
    color: #333333;
  }
  
  h2 {
    font-size: 0.9em;
  }
  
  h3 {
    font-size: 0.8em;
    /* defalut font size*1.1 */
  }
  
  h4 {
    font-size: 0.7em;
  }
  
  h5 {
    font-size: 0.8em;
  }
  
  .gallery {
    margin: 50px 0;
    padding: 0 10%;
  }
  
  .gallery-container-right-product img {
    width: 100%;
  }
  
  .gallery-container-right-product {
    padding: 5px 15%;
  }
  
  .gallery-container-right-card {
    position: relative;
    transform: all 0.5s;
  }
  .gallery-container-right-card:hover .card-overlay {
    display: unset;
    right: 0px;
  }
  .gallery-container-right-card .card-overlay {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 100%;
  }
  .gallery-container-right-card .card-overlay-icons {
    position: absolute;
    top: 15px;
    right: 12px;
  }
  .gallery-container-right-card .card-overlay-icons .fas {
    cursor: pointer;
    font-size: larger;
    margin: 0 3px;
    color: #ffffff;
  }
  
  .gallery-container {
    width: 100%;
    box-shadow: 5px 10px 18px #999999;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .gallery-container .gallery-container-left {
    grid-column: 1/6;
    padding: 0 5%;
  }
  .gallery-container .gallery-container-right {
    grid-column: 6/13;
    padding: 25px 3%;
  }
  
  .gallery-container-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .gallery-container-right div:nth-child(1) {
    grid-column: 1/7;
    grid-row: 1/2;
  }
  .gallery-container-right div:nth-child(2) {
    grid-column: 7/13;
    grid-row: 1/2;
  }
  .gallery-container-right div:nth-child(3) {
    grid-column: 1/7;
    grid-row: 2/3;
  }
  .gallery-container-right div:nth-child(4) {
    grid-column: 7/13;
    grid-row: 2/3;
  }
  
  .card-overlay i {
    height: 10px;
  }




/* ========== footer ========== */

.footer-icon {
    color: #000;
    margin: 10px;
    transition: all 0.5s ease-in-out;
}
.footer-icon:hover {
    color: pink;
}